[submodule "Libraries/LEDPatterns"]
	path = Libraries/LEDPatterns
	url = git@github.com:corbinstreehouse/LEDPatterns.git
[submodule "Libraries/FastLED"]
	path = Libraries/FastLED
	url = git@github.com:corbinstreehouse/FastLED.git
[submodule "Libraries/AdaFruit_NeoPixel"]
	path = Libraries/AdaFruit_NeoPixel
	url = git@github.com:corbinstreehouse/Adafruit_NeoPixel.git
[submodule "Libraries/Adafruit_BNO055"]
	path = Libraries/Adafruit_BNO055
	url = https://github.com/adafruit/Adafruit_BNO055.git
[submodule "Libraries/Adafruit_Sensor"]
	path = Libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "Libraries/TinyGPSPlus"]
	path = Libraries/TinyGPSPlus
	url = https://github.com/mikalhart/TinyGPSPlus.git
